// Call To Action (CTA) Styles

@media (max-width: 768px) {
    .main-content {
      background: grey;
      color: black;
    }
  }
  @media (max-width: 400px) {
    .main-content {
      backround: black;
      color: white;
    }
  }
.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
    

    .cta-text {
        font-size: 180px;
        text-align: center;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        margin: 0 82px 0 0;
    }

    .cta-text button {
        border: 1px double black;
        font-size: 16px;
        background: GOLD 
        width: 170px;
        height: 32px;
        margin-top: 10px20pmddd;
        cursor: pointer;

        &:hover {
            background: orange;
            color: blue;
        }
    }
    img {
        .border-radius(@radius: 50%);
    }
}// cta